@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
}

#header-image {
  background-image: url("/apple-pie/images/apple-pie.jpg");
  background-size: cover;
  background-position: center center;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 6em;
  color: white;
  line-height: 20px;
}

.introduction {
  display: flex;
  flex-direction: column;
  align-items: center center;
  text-align: left;
}

.introduction a {
  font-size: 1.8em;
  margin: 80px 470px 40px;
  line-height: 1.3em;
}

.img-infos {
  padding: 10px 35%;
}

.hr-rules {
  size: 2em;
  margin: 0 420px;
}

h2 {
  font-size: 1.8em;
  font-weight: 900;
  margin: 60px 420px 30px;
}

.ingredients ul li {
    list-style-type: '- ';
}

.tabs {
  margin: 0 560px 40px 420px;
}

.tabs li {
  font-size: 1.5em;
  text-align: left;
  line-height: 1.4em;
}
